        </div> <!--.container -->
        </body>
        
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
        <footer class="footer font-small bg-dark">
            <div class="container text-center text-md-left ">
                <div  class="row">
                    <div class="col-md-2 text-center mx-auto">
                        <h6 class="font-weight-bold text-uppercase mt-3 mb-3"></h6>
                    </div>
                    
                    <!--<div class="col-md-2 text-center mx-auto">-->
                    <!--    <h6 class="font-weight-bold text-uppercase mt-3 mb-3">about me</h6>-->
                    <!--</div>-->
                    <!--<div class="col-md-2 mx-auto">-->
                    <!--    <h6 class="font-weight-bold text-uppercase mt-3 mb-3">contact me</h6>-->
                    <!--</div>-->
                    <!--<div class="col-md-2 mx-auto">-->
                    <!--    <h6 class="font-weight-bold text-uppercase mt-3 mb-3">support</h6>-->
                    <!--</div>-->
                    <!--<div class="col-md-2 mx-auto">-->
                    <!--    <h6 class="font-weight-bold color-white text-uppercase mt-3 mb-3">help</h6>-->
                    <!--</div>-->
                    <!--<div class="col-md-2 mx-auto">-->
                    <!--    <h6 class="font-weight-bold color-white text-uppercase mt-3 mb-3">address</h6>-->
                    <!--</div>-->
                    
                    <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
                    <a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
                    <a href="https://plus.google.com"><i class="fa fa-google-plus"></i></a>
                    <a href="https://www.pinterest.com"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
            <div class="footer-copyright text-center py-3">
                <h6>@ CHUNHUA's Diary <%= moment().format('YYYY'); %></h6>
            </div>
            <div>
                
            </div>
        </footer>
        
        <!--Bootstrap and its dependecies jQuery popper JS CDN-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
        crossorigin="anonymous"></script>
        
        <!--custom JS for serach feature-->
        <!--<script src="/scripts/search.js" async defer></script>-->
            
 </html>